<template>
<div>		

		<Spinner 
		:visible="this.$store.state.spinner.show"
		:legend="this.$store.state.spinner.legend"  
		:icon="this.$store.state.spinner.icon"  
		/>   

		<div class="navbar-fixed">  
				<nav>
					<div class="nav-wrapper container"  > 
						
						<!-- Logo -->
						<a v-if="!$store.state.usuarioLogado" href="/" class="brand-logo"> 
							<img src="images/logo_navbar.png" height="58">
						</a>
						<a v-if="$store.state.usuarioLogado" href="/" class="brand-logo left" style="margin-left:70px;">  
							<img src="images/logo_navbar_small.png" height="55"  class="hide-on-large-only">
							<img src="images/logo_navbar.png" height="55" class="hide-on-med-and-down">
						</a>						
						<!-- /Logo -->

						<a href="#" data-target="sidenav" class="sidenav-trigger" ><i class="material-icons">menu</i></a>
										

						<!-- Dropdown Dados do usuário --> 
						<ul id="dropdownPerfil" class="dropdown-content"> 
							<li><router-link :to="{ name: 'atualiza-cadastro' }" >Perfil</router-link> </li> 
							<li><a href="#!" v-on:click.prevent="logout" >Sair</a></li>
						</ul> 
						<ul v-show="$store.state.usuarioLogado" class="right"> 
							<li><a class="dropdown-trigger" href="#!" data-target="dropdownPerfil"> {{ ($store.state.usuarioLogado)?$store.state.usuarioLogado.name.split(' ')[0]:'' }}<i class="material-icons right">arrow_drop_down</i></a></li>
						</ul>
						<!-- /Dropdown Dados do usuário -->


						<!-- Dropdown Administrativo Large --> 
						<ul id="dropdownAdm" class="dropdown-content"> 
								<li><router-link :to="{ name: 'pergunta' }" >Perguntas</router-link> </li>  
						</ul> 
						<ul v-show="$store.state.usuarioLogado && $store.state.usuarioLogado.adm" class="right hide-on-med-and-down">
							<li><a class="dropdown-trigger" href="#!" data-target="dropdownAdm">Administrativo<i class="material-icons right">arrow_drop_down</i></a></li>
						</ul>
						<!-- /Dropdown Asministrativo Large --> 


						<!-- ********* -->
						<!-- Menu Large -->
						<!-- ********* --> 
						<ul class="right hide-on-med-and-down">

								<li><a href="" v-bind:click="function(){window.location='/'}" class="waves-effect"  >Home</a></li>  

								<li v-for="item in itensMenu" :key="item.name" :value="item.name">  
				
									<template v-if="item.subitens">
										<ul id="dropdownAdm" class="dropdown-content"> 
												<li v-for="subitem in item.subitens" :key="subitem.texto" :value="subitem.texto">
													<router-link class="waves-effect" :to="subitem.routerLinkTo"  v-on:click.native="closeSideNav">{{subitem.texto}}</router-link>
												</li>  
										</ul>  
										<ul v-show="'usuarioADM'=='usuarioADM'" class="right hide-on-med-and-down">
											<li><a class="dropdown-trigger" href="#!" data-target="dropdownAdm">{{item.texto}}<i class="material-icons right">arrow_drop_down</i></a></li>
										</ul>										
									</template>
									<template v-else>		
										<router-link class="waves-effect" :to="item.routerLinkTo"  v-on:click.native="closeSideNav">{{item.texto}}</router-link>
										
									</template>						
								</li>
								

						</ul>
						<!-- ********* -->
						<!-- /Menu Large -->
						<!-- ********* -->

					</div>
					</nav>
		</div>		  

<!-- Drop down Menu mobile --> 
	  <ul ref="sidenav" id="sidenav" class="sidenav">
				<li>
						<div class="user-view">

								<div class="background">
								<img src="/images/bg_menu.jpg" class="right">   
								</div> 
								<img class="circle" :src="avatar"  >
								<router-link v-if="$store.state.usuarioLogado" :to="{ name: 'atualiza-cadastro' }" ><span class="white-text name">{{ ($store.state.usuarioLogado)?$store.state.usuarioLogado.name:'' }}</span></router-link>
								<router-link v-if="$store.state.usuarioLogado" :to="{ name: 'atualiza-cadastro' }" ><span class="white-text email">{{ ($store.state.usuarioLogado)?($store.state.usuarioLogado.telefone):'' }}</span></router-link>
					</div>
				</li>
			

			<li class="grey lighten-2"><a href="" :click="irParaHome"><i class="material-icons">home</i>Home</a></li>
			
			<li v-for="item in itensMenu" :key="item.texto" :value="item.texto">  

				<template v-if="item.subitens">
					
					<li  class="no-padding"> 
						<ul class="collapsible collapsible-accordion">
							<li v-if="'logado'=='logado'"> 
								<a class="collapsible-header">{{item.texto}}<i class="material-icons">arrow_drop_down</i></a>
								<div class="collapsible-body">
									<ul>
										<li v-for="subitem in item.subitens" :key="subitem.name" :value="subitem.name">
											<router-link class="waves-effect" :to="subitem.routerLinkTo"  v-on:click.native="closeSideNav">{{subitem.texto}}</router-link>
										</li>  
									</ul>
								</div> 
							</li>
						</ul>
					</li>	

				</template>
				<template v-else>
						<router-link class="waves-effect" :to="item.routerLinkTo"  v-on:click.native="closeSideNav">{{item.texto}}</router-link>
				</template>

				
			</li>  			

		  </ul>
<!-- /Drop down Menu mobile --> 
		  
<div class="fixed-action-btn">
  <a class="btn-floating btn-large green" href="https://api.whatsapp.com/send?phone=5521998568834">
	<i class="fab fa-whatsapp"></i>
  </a>
</div> 

		<router-view></router-view>  
		

		
</div>
</template> 

<script> 
 
import Spinner from './components/vue-custom-spinner'   

import { setTimeout } from 'timers';

export default {
  components: { 
			Spinner
			
	},

 created: function () {
	 
			axios.get('/api/me').then((response)=>{  
				this.$store.commit('setUsuarioLogado',response.data.user); 
			}, function(response){  

			});
									 
 },

  data: function() {
		return {
			avatar: '', 

		};
		
  },


	
  methods: {
    closeSideNav: function() {
      $("#sidenav").sidenav("close");
		},
		logout: function(){
			this.$store.commit('setLogout');  
			this.closeSideNav(); 
			window.location = '/'; // Forço um refresh na página  
		},
    irParaHome: function(){
        window.location = '/';
		}
	
		
		
  },

  mounted: function() {
			$('.sidenav').sidenav(); 
			$('.collapsible').collapsible();    
			$('.dropdown-trigger').dropdown();  

      setTimeout(()=>{  
				this.avatar = (this.$store.state.usuarioLogado)?this.$store.state.usuarioLogado.avatar:'/images/user_avatar.png'; 
			},2000);
			


	},

  updated: function() {  
    this.$nextTick(function() {
			$('.sidenav').sidenav(); 
			$('.collapsible').collapsible();    
			$('.dropdown-trigger').dropdown(); 
    }); 
  },
  computed: {
	  itensMenu() {  
		  return this.$store.state.itensMenu
	  }
  },
};
</script> 
