<template>



  <div class="container">


<PageTitle titulo="Contato"  showback="true" />   


<section class="card-panel"> 

  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">person_outline</i>
          <input id="person_outline" v-model="nome" ref="nome"   type="text" >
          <label for="person_outline" class="active">Informe seu nome</label> 
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">phone</i>
          <textarea  id="library_comment" v-model="comentario" ref="comentario" class="materialize-textarea"></textarea>
          <label for="library_comment">Telefone</label>
        </div>          
        <div class="input-field col s12">
          <i class="material-icons prefix">mail</i>
          <input id="insert_mail" v-model="email" ref="email" type="text">
          <label for="insert_mail" class="active">Email</label>
        </div>        

    <div class="input-field col s12">
      <textarea class="materialize-textarea" v-model="descricao" ref="descricao" id="descricao" > </textarea>
      <label for="descricao" >Comentário</label> 
    </div>
        
              
      </div>

    </form>
  </div>       

  <div class="row">
    <div class="col s12 right-align">
      <a href="" @click.prevent="enviar" class="btn btn-large" >Enviar</a>
    </div>
  </div>
     
     
 </section>    
 


  

  </div>         



</template>


<script>
import PageTitle from "../components/vue-custom-page-title.vue";
export default {
  name: 'Orcamento',
  components:{
    PageTitle, 
    
  },  
  data: function() {
    return {
      servico: this.$route.params.servico,
      servicos: this.$store.state.servicos 
          
    }; 
  },  
  
  props: { 
    
  },

  created () {
  

  },
  beforeRouteEnter: function (to, from, next) {
       next();  
	},     
  methods: { 
    voltar:function(){
      this.$router.push('/');  
    },

    enviar: function(){

    }

		
  },

  mounted () { 
    M.AutoInit();
  },



}
</script>