<template>

<div>

<!-- Slides --> 
  <div class="slider">
    <ul class="slides">
      <li>
        <img src="/images/slides_home/slider1.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>Pinturas</h3>
          <h5 class="light grey-text text-lighten-3">Internas e externas</h5>
        </div>
      </li>
      <li>
        <img src="/images/slides_home/slider2.jpg"> <!-- random image -->
        <div class="caption left-align">
          <h3>Portas e Maçanetas</h3>
          <h5 class="light grey-text text-lighten-3">Instalação e reparos</h5>
        </div>
      </li>
      <li>
        <img src="/images/slides_home/slider3.jpg"> <!-- random image -->
        <div class="caption right-align">
          <h3>Tomadas e Interruptores</h3>
          <h5 class="light grey-text text-lighten-3">Consertos e trocas</h5>
        </div>
      </li>
    </ul>
  </div>
<!-- /slides --> 

<div class="container">

      
      <section class="card-panel">
        <PageTitle titulo="Estamos prontos para lhe ajudar" />     
        <p>Através deste site, você poderá solicitar o orçamento para o serviço desejado. Estamos sempre prontos para lhe atender! </p>
        <p>Veja abaixo a lista de serviços que oferecemos. </p> 
      </section>



      <ListaServicos></ListaServicos>





</div>



</div>
</template>

<style scope>

h6{
  padding-left: 5px;
  font-weight: bold;
}
.collection .collection-item.avatar {
    min-height: 55px; 
}

.collection .collection-item.avatar:not(.circle-clipper) > .circle, .collection .collection-item.avatar :not(.circle-clipper) > .circle {
  width:30px;
  height: 30px;
  left:2px;
}

.collection .collection-item.avatar i.circle {
    font-size: 12px;
    line-height: 30px;
    color: #fff;
    background-color: #999;
    text-align: center;
}
.collection .collection-item.avatar {
    min-height: 50px; 
    padding-left: 48px;
}
</style>


<script>
//import Spinner from '@/components/vue-custom-spinner.vue'
import store from '../store.js' 
import { setTimeout } from 'timers';
import PageTitle from "../components/vue-custom-page-title.vue";
import ListaServicos from "../components/vue-custom-lista-servicos.vue";
export default {
  name: 'home',
  components:{
    PageTitle, 
    ListaServicos 
    
  },
  data: function() {
    return {
    }; 
  },  
  
  props: { 
    
  },
  beforeRouteEnter: function (to, from, next) {

      next(); 

	},
  created () {
   console.log("created - executado");  
   this.$store.commit('setSpinner',{show:true, legend:"Aguarde..."});    
  },

  methods: {
	
		
		
  },
  mounted: function () {
      console.log("mounted - executado");  
      setTimeout(()=>{
        this.$store.commit('setSpinner',{show:false});    
         $('.slider').slider({height:250,indicators:true, duration:500, interval:6000}); 
          M.AutoInit(); 
      },500)
      
 
    
  }



}
</script>