<template>



  <div class="container">


<PageTitle titulo="Orçamento"  showback="true" />   


<section class="card-panel"> 
  <form class="col s12" id="formOrcamento" name="formOrcamento">
  <div class="row">
    
    <div class="input-field col s12">
      <select v-model="servico" ref="servico" name="servico" id="servico">  
        <option value="" disabled selected>Selecione uma opção</option>
        <option  v-for="serv in servicos" :key="serv.id" :value="serv.id">{{serv.nome}}</option>
      </select>
      <label>Serviço</label>
    </div>      

    <div class="input-field col s12">
      <textarea class="materialize-textarea" v-model="descricao" ref="descricao" id="descricao" name="descricao" > </textarea>
      <label for="descricao" >Descreva os detalhes do serviço a ser executado</label> 
    </div>

  </div>        

  <div class="row">
    <div class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">person_outline</i>
          <input id="nome" v-model="nome" ref="nome" name="nome"   type="text" >
          <label for="nome" class="active">Informe seu nome</label> 
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">phone</i>
          <input id="telefone" v-model="telefone" ref="telefone" name="telefone"   type="text" >
          <label for="telefone">Telefone</label>
        </div>     
        <div class="input-field col s12">
          <i class="material-icons prefix">add_location</i>
          <input id="endereco" v-model="endereco" ref="endereco" name="endereco" type="text">
          <label for="endereco" class="active">Informe seu endereço</label>
        </div>              
        <div class="input-field col s12">
          <i class="material-icons prefix">mail</i>
          <input id="email" v-model="email" ref="email" name="email" type="text">
          <label for="email" class="active">Email (opcional)</label>
        </div>        
              
      </div>

    </div>
  </div>       

  <div class="row">
    <div class="col s12 right-align">
      <a href="" @click.prevent="enviar" class="btn btn-large" >Enviar</a>
    </div>
  </div>
     
  </form>     
 </section>    
 


  

  </div>         



</template>


<script>
import PageTitle from "../components/vue-custom-page-title.vue";
export default {
  name: 'Orcamento',
  components:{
    PageTitle, 
    
  },  
  data: function() {
    return {
      servico: this.$route.params.servico,
      servicos: this.$store.state.servicos 
          
    }; 
  },  
  
  props: { 
    
  },

  created () {
  

  },
  beforeRouteEnter: function (to, from, next) {
       next();  
	},     
  methods: { 
    voltar:function(){
      this.$router.push('/');  
    },

    enviar: function(){

            let formData = new FormData(
                document.getElementById("formOrcamento")
            );         

            if (!this.validaDados(formData)){
                return;
            }

            axios.post("/api/orcamento", formData).then(   
                response => {
                      M.toast({ html: "<i class='material-icons left'>mood</i>Recebemos o seu orçamento! Entraremos em contato. Obrigado!", classes: "green"});  
                },
                response => { 
                        M.toast({ html: "Ocorreu um erro. Verifique os dados informados.", classes: "red"}); 
                }
            );


    },

      validaDados: function(formData){

          let servico = formData.get("servico");
          let descricao = formData.get("descricao");
          let nome = formData.get("nome");
          let telefone = formData.get("telefone");
          let endereco = formData.get("endereco");  
          let email = formData.get("email");
          
          
          if (!servico){ 
              M.toast({ html: "Selecione o serviço desejado", classes: "red"});
              this.$refs.servico.focus(); 
              return false;
          }

          if (!descricao){ 
              M.toast({ html: "Informe a descrição do serviço desejado", classes: "red"});
              this.$refs.descricao.focus(); 
              return false;
          }


          if (!nome){
              M.toast({ html: "Nome Completo deve ser informado", classes: "red"});
              this.$refs.nome.focus(); 
              return false;
          }
          
          if (nome.indexOf(' ') == -1){
              M.toast({ html: "Informe seu nome completo", classes: "red"});
              this.$refs.nome.focus(); 
              return false;
          }          

          if (!telefone){
              M.toast({ html: "Telefone deve ser informado", classes: "red"});
              this.$refs.telefone.focus(); 
              return false;
          }



          if (!endereco){
              M.toast({ html: "Endereço Completo deve ser informado", classes: "red"});
              this.$refs.endereco.focus(); 
              return false;
          }
          
          if (endereco.indexOf(' ') == -1){ 
              M.toast({ html: "Informe seu endereço completo", classes: "red"});
              this.$refs.endereco.focus(); 
              return false;
          }             


         let parseEmail = /^[a-z0-9.]+@[a-z0-9]+\.[a-z]+(\.[a-z]+)?$/i; 
         if (email && (email.indexOf('@') == -1)){
              M.toast({ html: "Email inválido. Está faltando símbolo @  ", classes: "red"});
              this.$refs.email.focus();  
              return false;
         }
         
         if (email && !parseEmail.test(email)){
              M.toast({ html: "Email inválido. Verifique o email informado.", classes: "red"});
              this.$refs.email.focus();  
              return false;
         }

          return true;


      }    

		
  },

  mounted () { 
    M.AutoInit();
  },



}
</script>