<template>



  <div class="container">


    <PageTitle titulo="Nossos Serviços" showback="true" />    


    <ListaServicos></ListaServicos>



  

  </div>         



</template>


<script>
import PageTitle from "../components/vue-custom-page-title.vue";
import ListaServicos from "../components/vue-custom-lista-servicos.vue";
export default {
  name: 'Servicos',
  components:{
    PageTitle, 
    ListaServicos 
    
  },  
  data: function() {
    return {
          
    }; 
  },  
  
  props: { 
    
  },

  created () {
  

  },
  beforeRouteEnter: function (to, from, next) {
       next();  
	},     
  methods: { 
    voltar:function(){
      this.$router.push('/');  
    },

    enviar: function(){

    }

		
  },

  mounted () { 
    M.AutoInit();
  },



}
</script>