
<template>

      <section class="card-panel">

        <table class="striped">
          <tbody>
            <tr v-for="(servico,index) in $store.state.servicos" :key="servico.id" :value="servico.id">
              <td>{{servico.nome}}</td>
              <td><router-link class="waves-effect" :to="{'name':'orcamento', 'params':{'servico':servico.id} }"  >Solicitar orçamento</router-link></td>
            </tr> 
          </tbody>
        </table>

    </section> 

</template>
 

<script>

import PageTitle from "../components/vue-custom-page-title.vue";


    export default 
{
    components:{
      PageTitle
      
      
    },     
    props:{
    },

    data: function () {
      return {
          
      }
    },

    methods: {

    },  
    
    computed:{


    },

    mounted() { 
        
    }    

  
}
</script> 